---
import NavItem from "./NavItem.astro";

const NAV_MENUS_NAMES = ["About", "Projects", "Contact"] as const;
---

<nav
  id="menu-header"
  class="text-black rounded-full p-1 xs:py-3 xs:px-2 lg:py-1-em lg:px-2-em relative gap-4 md:backdrop-blur-md md:bg-white-opacity"
>
  <ul
    id="menu-list"
    class="flex md:gap-2-em z-10 items-center text-base xs:text-base-em"
  >
    {NAV_MENUS_NAMES.map((menuName) => <NavItem menuName={menuName} />)}
    <!-- <li class="flex">
    <ChangeLanguage />
    </li> -->
    <!-- <li class="px-4 py-1 flex">
      <ChangeTheme />
    </li> -->
  </ul>
  <div
    id="menu-backdrop"
    class="absolute top-0 -z-20 opacity-0 bg-black rounded-full translate-x-[var(--left)] translate-y-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-200 ease-in-out"
  >
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const listItems = document.querySelectorAll(
      "#menu-list li",
    ) as NodeListOf<HTMLElement>;
    const menuBackDrop = document.querySelector(
      "#menu-backdrop",
    ) as HTMLElement;
    const menuHeader = document.querySelector("#menu-header") as HTMLElement;

    let lastSelectedItem: HTMLElement | null = null;

    const menuHeaderStyle = window?.getComputedStyle(menuHeader);
    const menuHeaderpaddingLeft = parseFloat(menuHeaderStyle.paddingLeft);

    if (listItems.length > 0) {
      const firstItem = listItems[0];
      const { left, top, width, height } = firstItem?.getBoundingClientRect();
      const parentRect = menuHeader?.getBoundingClientRect();

      const relativeLeft = left - parentRect?.left - menuHeaderpaddingLeft;
      const relativeTop = top - parentRect?.top;

      menuBackDrop.style?.setProperty("--left", `${relativeLeft}px`);
      menuBackDrop.style?.setProperty("--top", `${relativeTop}px`);
      menuBackDrop.style?.setProperty("--width", `${width}px`);
      menuBackDrop.style?.setProperty("--height", `${height}px`);
    }

    listItems?.forEach((item) => {
      item?.addEventListener("mouseenter", () => {
        item.style.color = "white";

        if (lastSelectedItem && lastSelectedItem !== item) {
          lastSelectedItem.style.color = "black";
        }

        lastSelectedItem = item;

        const { left, top, width, height } = item?.getBoundingClientRect();
        const parentRect = menuHeader?.getBoundingClientRect();

        const relativeLeft = left - parentRect?.left - menuHeaderpaddingLeft;
        const relativeTop = top - parentRect?.top;

        menuBackDrop.style?.setProperty("--left", `${relativeLeft}px`);
        menuBackDrop.style?.setProperty("--top", `${relativeTop}px`);
        menuBackDrop.style?.setProperty("--width", `${width}px`);
        menuBackDrop.style?.setProperty("--height", `${height}px`);
        menuBackDrop.style.opacity = "1";
        menuBackDrop.style.visibility = "visible";
      });
    });

    menuHeader?.addEventListener("mouseleave", () => {
      if (lastSelectedItem) {
        lastSelectedItem.style.color = "black";
      }
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
      lastSelectedItem = null;
    });
  });
</script>
