---
import Tag from "./Tag.astro";

interface Props {
  id: number;
  projectName: string;
  projectDescription: string;
  role: string;
  date: string;
  tagList: string[];
}

const { projectName, projectDescription, role, date, id, tagList } =
  Astro.props;
---

<article class="lg:mb-20-em md:mb-16 mb-12 w-full" id={projectName}>
  <div
    class="absolute bg-blue-800 inset-x-0 xs:h-7% h-121 md:h-120 lg:h-52-em -z-10"
  >
  </div>

  <header
    class="flex justify-between flex-row mb-14 lg:mb-28.5-em pt-16 lg:pt-20-em"
  >
    <main
      class="flex flex-col md:max-w-2.5xl-em gap-y-12 max-w-full xs:max-w-0.5xl lg:gap-y-24-em"
    >
      <section class="flex flex-col gap-y-6 lg:gap-y-10-em">
        <p
          class="lg:text-sm-em text-sm font-medium flex gap-x-1-em tracking-wider-em"
        >
          <span>{`0${id}`}</span>
          <span class="text-white/50">/</span>
          <span class="text-white/50">05</span>
        </p>
        <h3 class="lg:text-5xl-em md:text-4xl text-2.5xl font-bold">
          {projectName} - <span class="font-medium">{projectDescription}</span>
        </h3>
      </section>

      <footer>
        <ul class="flex flex-col gap-y-6 xs:flex-row gap-x-10 lg:gap-x-16-em">
          <li class="flex flex-col gap-y-1 xs:gap-y-2 md:gap-y-2-em">
            <p class="text-white/50 text-base lg:text-s-inherit">Project</p>
            <p class="text-base lg:text-s-inherit">{projectName}</p>
          </li>

          <li class="flex flex-col gap-y-1 xs:gap-y-2 md:gap-y-2-em">
            <p class="text-white/50 text-base lg:text-s-inherit">Role</p>
            <p class="text-base lg:text-s-inherit">{role}</p>
          </li>

          <li class="flex flex-col gap-y-1 xs:gap-y-2 md:gap-y-2-em">
            <p class="text-white/50 text-base lg:text-s-inherit">Date</p>
            <p class="text-base lg:text-s-inherit">{date}</p>
          </li>
        </ul>
      </footer>
    </main>

    <aside class="hidden md:flex flex-col justify-center">
      <ul class="flex flex-col items-end gap-y-4 md:gap-y-4-em">
        {tagList.map((tag) => <Tag tag={tag} />)}
      </ul>
    </aside>
  </header>

  <section class="grid gap-12 place-items-center bg-green-400">
    <img
      loading="lazy"
      height="500px"
      width="500px"
      class="rounded-lg w-full col-span-2 object-cover opacity-1 aspect-[16/9]"
      src="/image-1.webp"
    />
    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full col-span-2 xs:col-span-1 object-cover opacity-1 aspect-[1/1]"
      src="/image-2.webp"
    />
    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full col-span-2 xs:col-span-1 object-cover opacity-1 aspect-[1/1]"
      src="/image-3.webp"
    />
    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full col-span-2 object-cover opacity-1 aspect-[16/9]"
      src="/image-4.webp"
    />
  </section>
</article>
