---
import Tag from "./Tag.astro";

interface Props {
  id: number;
  projectName: string;
  projectDescription: string;
  role: string;
  date: string;
  tagList: string[];
}

const { projectName, projectDescription, role, date, id, tagList } =
  Astro.props;
---

<article class="max-w-screen-xl mb-20" id={projectName}>
  <div class="absolute bg-blue-800 inset-x-0 h-[36rem] xl:h-[50rem] -z-10">
  </div>

  <header
    class="flex flex-col justify-between xl:flex-row mb-12 xl:mb-28 pt-12 xl:pt-20"
  >
    <main class="flex flex-col max-w-2.1xl-em gap-y-24-em">
      <section class="flex flex-col gap-10">
        <p
          class="lg:text-sm-em text-sm font-medium flex gap-x-1-em tracking-wider-em"
        >
          <span>{`0${id}`}</span>
          <span class="text-white/50">/</span>
          <span class="text-white/50">05</span>
        </p>
        <h3 class="lg:text-5xl-em md:text-4.5xl text-2.5xl font-bold">
          {projectName} - <span class="font-medium">{projectDescription}</span>
        </h3>
      </section>

      <footer>
        <ul class="flex text-base flex-col xl:flex-row gap-6 xl:gap-10">
          <li>
            <p class="text-white/50">Project</p>
            <p>{projectName}</p>
          </li>

          <li>
            <p class="text-white/50">Role</p>
            <p>{role}</p>
          </li>

          <li>
            <p class="text-white/50">Date</p>
            <p>{date}</p>
          </li>
        </ul>
      </footer>
    </main>

    <aside class="hidden md:flex flex-col justify-center">
      <ul class="flex flex-col gap-3">
        {tagList.map((tag) => <Tag tag={tag} />)}
      </ul>
    </aside>
  </header>

  <section class="grid gap-12 place-items-center bg-green-400">
    <img
      loading="lazy"
      height="500px"
      width="500px"
      class="rounded-lg w-full col-span-2 object-cover opacity-1 aspect-[16/9]"
      src="/image-1.webp"
    />
    <!-- <div class="grid grid-cols-2 gap-x-12"> -->
    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full col-span-2 xl:col-span-1 object-cover opacity-1 aspect-[1/1]"
      src="/image-2.webp"
    />
    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full col-span-2 xl:col-span-1 object-cover opacity-1 aspect-[1/1]"
      src="/image-3.webp"
    />

    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full col-span-2 object-cover opacity-1 aspect-[16/9]"
      src="/image-4.webp"
    />
  </section>
</article>
