---
import Tag from "./Tag.astro";

interface Props {
  id: number;
  projectName: string;
  projectDescription: string;
  role: string;
  date: string;
  tagList: string[];
}

const { projectName, projectDescription, role, date, id, tagList } =
  Astro.props;

console.log(projectName);
---

<article class="max-w-screen-xl mb-20" id={projectName}>
  <div class="absolute bg-blue-800 inset-x-0 h-[50rem] -z-10"></div>
  <header class="flex mb-28 pt-20">
    <main class="basis-9/12 flex flex-col gap-y-24">
      <section class="flex flex-col gap-10">
        <p class="text-base font-medium tracking-wider">
          {`0${id}`}<span class="text-white/50"> / 05</span>
        </p>
        <h3 class="text-5xl">
          <span class="font-bold">{projectName}</span> - {projectDescription}
        </h3>
      </section>

      <footer>
        <ul class="flex gap-10">
          <li>
            <p class="text-white/50">Project</p>
            <p>{projectName}</p>
          </li>

          <li>
            <p class="text-white/50">Role</p>
            <p>{role}</p>
          </li>

          <li>
            <p class="text-white/50">Date</p>
            <p>{date}</p>
          </li>
        </ul>
      </footer>
    </main>

    <aside class="flex flex-col justify-center w-full basis-3/12">
      <ul class="flex flex-col items-end gap-3">
        {tagList.map((tag) => <Tag tag={tag} />)}
      </ul>
    </aside>
  </header>
  <section class="grid gap-12 place-items-center">
    <img
      loading="lazy"
      height="500px"
      width="500px"
      class="rounded-lg w-full object-cover opacity-0 aspect-[16/9]"
      src="/image-1.webp"
    />

    <div class="grid grid-cols-2 gap-x-12">
      <img
        height="500px"
        width="500px"
        loading="lazy"
        class="rounded-lg w-full object-cover opacity-0 aspect-[1/1]"
        src="/image-2.webp"
      />
      <img
        height="500px"
        width="500px"
        loading="lazy"
        class="rounded-lg w-full object-cover opacity-0 aspect-[1/1]"
        src="/image-3.webp"
      />
    </div>
    <img
      height="500px"
      width="500px"
      loading="lazy"
      class="rounded-lg w-full object-cover opacity-0 aspect-[16/9]"
      src="/image-4.webp"
    />
  </section>
</article>
